.winCl-btn {
  background: #f1f1f1;
  font-size: 15px;
  border-left: 2px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #848484;
  border-bottom: 3px solid #848484;
  background-color: transparent;
  padding: 3px 15px 3px 15px;
  margin-right: 2px;
}

.winCl-btn:hover,
.winCl-btn:focus {
  outline: 0;
  margin-right: 2;
}

.winCl-btn:active {
  border-right: 2px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #848484;
  border-top: 2px solid #848484;
  background-color: #f8f8fb;
}

.winCl-btn-active {
  font-size: 15px;
  border-right: 2px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #848484;
  border-top: 2px solid #848484;
  background-color: #f8f8fb;
}
